<div class="well">
    
  <p><b>Attn: {{announcement.title}}</b></p>
  <p>{{announcement.body}}</p>
  <p>Authored by: {{announcement.author}}</p>
  <button {{action 'delete' announcement}}>Delete Announcement</button>
  <hr>
</div>
